.chat {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
  }

  li {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }

  .white-background {
    background-color: white;
  }

  #message-container {
    max-height: 678px; /* Ajustez cette valeur en fonction de la hauteur souhaitée */
    overflow-y: auto;
  }

  #message-container::-webkit-scrollbar {
    width: 10px;
  }

  .message {
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    word-wrap: break-word;
    overflow-x: hidden;
  }

  form {
    display: flex;

    input {
      flex-grow: 1;
      padding: 0.5rem;
      border: 1px solid #ddd;
    }

    button {
      padding: 0.5rem;
      background-color: #333;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}
