.live {
  display: flex;
  flex-direction: column;

  .live-nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 1rem;
    margin-bottom: 5px;
    & a {
      color: white;
      text-decoration: none;
      cursor: pointer;
      font-size: 1rem;
    }
    & button {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 1rem;
    }
  }

  .live-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 20px;

    .live-video {
      width: 67%;
      height: 100%;
    }

    .chat {
      width: 33%;
      display: flex;
      flex-direction: column;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        flex-grow: 1;
        overflow-y: auto;
        border: 1px solid black;
        background-color: rgb(225, 219, 219);
      }

      li {
        padding: 0.5rem;
        border-bottom: 1px solid #ddd;
      }

      form {
        display: flex;

        input {
          flex-grow: 1;
          padding: 0.5rem;
          border: 1px solid #ddd;
          border: 1px solid black;
          background-color: rgb(225, 219, 219);
        }

        button {
          padding: 0.5rem;
          color: white;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .live-content {
      flex-direction: column;

      .live-video,
      .chat {
        width: 100%;
      }

      .chat {
        order: 2;
      }
    }
    form {
      margin-top: 20px;
    }
  }
}
