.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 1rem;
  color: white;

  button,
  a {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0 1rem;
    text-decoration: none;
  }

  .hamburger {
    display: none;
  }

  @media (max-width: 768px) {
    button,
    a {
      display: none;
    }

    .hamburger {
      display: block;
      cursor: pointer;
    }

    .hamburger-menu {
      display: flex;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      right: 0;
      padding: 1rem;
      border-radius: 5px;

      button,
      a {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        margin-bottom: 1rem;
      }
    }
  }
}
